.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    

   
  }
  
  .default {
    background-color: $color-default-color;
  }
  
  .error {
    background-color: $color-error-color;
  }
  
  .info {
    background-color: $color-info-color;
  }
  
  .success {
    background-color: $color-success-color;
  }
  
  .warning {
    background-color: $color-warning-color;
  }

  